{
	"useTabs": true,
	"trailingComma": "none",

	"pluginSearchDirs": ["."],
	"singleQuote": true,
	"tabWidth": 4,
	"semi": false,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"printWidth": 140
}
